@page "/"
@attribute [Authorize]
@page "/{categoryUrl}"
@using Microsoft.AspNetCore.Authorization
@inject IProductService ProductService

<PageTitle>Test Blazor Home</PageTitle>

<RuoliList />

<AuthorizeView>
    <Authorized>
        <p>You are authorized.. @context.User.Claims.ToString()</p>
    </Authorized>

    <NotAuthorized>
        <p>You are not authorized</p>
    </NotAuthorized>
</AuthorizeView>


@code
{
    [Parameter]
    public string? CategoryUrl { get; set; } = null;

    protected override async Task OnParametersSetAsync()
    {
        await ProductService.GetProducts(CategoryUrl);
    }
}
